page-edit-menu {
  .item-input .label-md {
    color: color($colors, danger);
  }

  .card-md > .item:last-child {
    padding-top: 0px;
    padding-right: 0px;
  }

  .item-md {
    padding-top: 8px;
    padding-right: 16px;
  }

  .label-md[stacked],
  .label-md[floating],
  .label-md[fixed] {
    color: color($colors, danger);
  }

  ion-item.item.item-block.item-md.item-toggle.item-label-fixed {
    margin-top: 24px;
  }

  submit-button {
    padding: 0 0.6em !important;
    height: 45px !important;
    font-size: 1.2rem !important;
  }

  button.disable-hover.item-button.button.button-md.button-default.button-default-md.button-round.button-round-md {
    background-color: color($colors, danger);
    width: 150px;
    height: 40px;
    font-size: 1.4rem;
  }

  button.item-button.button.button-md.button-default.button-default-md.button-round.button-round-md {
    background-color: color($colors, danger);
    width: 150px;
    height: 40px;
    font-size: 1.4rem;
  }

  .toggle-md.toggle-checked .toggle-icon {
    background-color: #ffc8c8;
  }
  .toggle-md.toggle-checked .toggle-inner {
    -webkit-transform: translate3d(16px, 0, 0);
    transform: translate3d(16px, 0, 0);
    background-color: color($colors, danger);
  }
}
