// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.item-profile {
  height: 250px;
  .item-avatar > img:first-child {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
}

.toolbar-background {
  background-color: color($colors, danger);
}
.toolbar-title-md {
  color: #ffffff;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: #ffffff;
}

.toggle-md.toggle-checked .toggle-icon {
  background-color: #ffc8c8;
}
.toggle-md.toggle-checked .toggle-inner {
  -webkit-transform: translate3d(16px, 0, 0);
  transform: translate3d(16px, 0, 0);
  background-color: color($colors, danger);
}
